<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/logo.jpg">
        <link rel="stylesheet" href="/css/style.css">
        
        
    </head>
    <body>
        {{>header}}
        <p>Created by {{name}}</p>
        <form>
            <input placeholder="Search..">
            <button>Search </button>
        </form>
        <p id="msg-1"></p>
        <p id="msg-2"></p>
        <br>
        <img src="/img/bg3.jpg"></br>
        {{>footer}}

        <script src="/js/app.js"></script>

    </body>
</html>